.rCont {
    background: whitesmoke ;
    margin: auto;
    display: flex;
    width: 60%;
    height: 6vh;
    padding: 0 5vh 0;

}
.btn_calcular {
    top: 10vh;
    width: 60%;
    height: 8vh;
    margin: auto;
}
.btn_finalizar {
    bottom: -42vh;
    height: 9vh;
    font-size: 5vw;
}

.button .ripple-wave {
    background-color: #7a47a3;
  }
#fotoProd {
    width: 20vw;
    height: 20vw;
    background-color: rebeccapurple;
    margin: auto;
}
#signUpGoogle {
    background-color: red;
    width: 10vw;
    height: 10vw;
    top: 80vh;
    margin: auto;
}
.item-input-wrap {
    background-color: white;
}
.item-title {
    background: none;
}
.index_body {
    background-image: url(./img/FondoAPP.png) !important;
    background-size: cover ;
}
.menu-pag {
    background-image: url(./img/FondoAPP.png) !important;
    background-size: cover !important;
    overflow: scroll;
}
.menu-pag-reg {
    background-image: url(./img/FondoAPPreg.jpg) !important;
    background-size: cover !important;
}
#index-reg {
    font-weight: bolder;
}
#btn_registrarse {
    height: 6%;
    width: 50vw;
    margin: auto;
    top: 3vh;
}
#page-añadirCat {
    margin: auto;
    width: 60vw;
    top: 20%;
    font-size: 14px;
}
#div_btn_init {
    display: flex;
    justify-content: center;
    font-size: 25px;
    top: 50vh;
    position: relative;
}
#btn_venta, #btn_nuevoProd {
    margin: 5vh 0 5vh 0;
    display: flex;
    justify-content: center;
    font-size: 20px;
    top: 10vh;
    position: relative;
    padding: 0 7vw 0;
    left: 30vw;
    width: fit-content;
    height: 8vh;
}

.usuarios_menu {
    border: chartreuse 2px solid;
    position: relative;
    left: 5%;
    bottom: 0%;
    width: 90%;
    text-align: center;
    font-size: 20px;
}
.cont_login {
    margin: auto;
    text-align: center;
    width: 80%;
}
.tit_login {
    margin-top: 20%;
}
.btn_login {
    font-size: 3vh;
    height: 8vh;
    width: 50vw;
    margin: auto;
    top: 5vh;
}
.btn_regis {
    margin-top: 13vh;
    background: rgba(255, 254, 254, 0.30) ;
    border-radius: 0 8vh 0 8vh;
    box-shadow: rgb(163, 163, 163);

}
.list_regis {
    position: absolute;
    margin: auto;
    text-align: center;
    width: 70%;
    left: 15vw;
    top: 15vh;
}
.list_add {
    width: 80vw;
    height: 40vh;
    margin: auto;
    margin-top: 10vh;
    text-align: center;
}
.list_add_nc {
    margin: auto;
    width: 80vw;
    top: 10vh;
}
#btn_añadirCat {
    width: 50vw;
    margin: auto;
    margin-top: 5vh;
}
.btn_regis_conf {
    margin: auto;
    top: 70vh;
    width: 75%;
}
.contLogo {
    width: 70vw;
    height: 70vw;
    margin: auto;
    margin-top: 8vh;
    background-image: url(./img/LogoAPP.png)  !important;
    background-size: contain !important;
    background-repeat: no-repeat;
}
.contInfobox {
    width: 90vw;
    height: 55vw;
    margin: auto;
    margin-top: 35vh;
    background-image: url(./img/infobox.png)  !important;
    background-size: contain !important;
    background-repeat: no-repeat;
}
#btn_guardarDatos {
    margin: auto;
    width: 50vw;
}

.seccionProducto {
    padding: 0 ;
    margin: 0.5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 254, 254, 0.30);
}
.btn_decremento, .btn_incremento {
    
    width: 14vw;
    height: 17vh;

    display: flex;
    align-items: center;
    justify-content: center;
}
.prodEspecificacion {
    border: transparent 1vh solid ;
    width: 40vw;
    height: 25vw;
    font-weight: bolder;
    align-items: center;
    justify-content: center;
}
.prodPic {
    margin: 2vh 4vw 2vh 4vw;
    
    box-shadow: rgb(163, 163, 163);
    border-radius: 15%;
    width: 28vw;
    height: 28vw;
    background-color: rgb(163, 163, 163);
    display: flex;
    align-items: center;
    justify-content: center;
}
.cantidad {
    border: transparent 2px;
    width: 10vw;
    height: 10vw;
    font-weight: bolder;
    display: flex;
    align-items: center;
    justify-content: center;
}
/*Animaciones*/
.fadeListaProd {
    animation-name: fadeListaProd;
    animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
@-webkit-keyframes fadeListaProd {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
@keyframes fadeListaProd {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
#btn_nuevoProd {
    animation-name: btn_nuevoProd;
    animation-duration: 0.6s;
    animation-delay: 0s;
}
@keyframes btn_nuevoProd {
    0%   {left:99vw; top:10vh;}
    100% {left:30vw; top:10vh;}
}
#btn_venta {
    left: 70vw;
    animation-name: btn_venta;
    animation-duration: 0.7s;
    animation-delay: 0s;
}
@keyframes btn_venta {
    0%   {left:99vw; top:10vh;}
    100% {left:70vw; top:10vh;}
}